.Main-Dashboard {
  background-color: var(--color-primary-dark);
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .Main-Dashboard {
    width: 33%;
  }
}

.Main-Dashboard nav {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  padding: 1rem 11px;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .Main-Dashboard nav {
    padding: 2rem;
  }
}

.Main-Dashboard nav .search-toggle-btn,
.Main-Dashboard nav .my-location-icon {
  background-color: var(--color-search-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--color-primary-light);
}

.Main-Dashboard nav .search-toggle-btn:hover,
.Main-Dashboard nav .my-location-icon:hover {
  cursor: pointer;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.Main-Dashboard nav .search-toggle-btn {
  border: none;
  width: 161px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
}

.Main-Dashboard nav .my-location-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Main-Dashboard .img-section {
  height: 35vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  /* background-image: url('../../public/images/Cloud-background.png'); */
}

@media only screen and (min-width: 768px) {
  .Main-Dashboard .img-section {
    width: 100%;
  }
}

.Main-Dashboard main {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .Main-Dashboard main {
    margin-top: 1em;
  }
  .Main-Dashboard main h1,
  .Main-Dashboard main h2 {
    margin-bottom: 0.6em;
  }
}

.Main-Dashboard main h1 {
  font-size: 6rem;
  font-weight: 500;
  color: var(--color-primary-light);
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.Main-Dashboard main h1 .unit {
  font-size: 36px;
  color: var(--color-secondary-light);
}

.Main-Dashboard main h2 {
  font-weight: 600;
  font-size: 2rem;
  color: var(--color-secondary-light);
  margin-top: 3rem;
}

.Main-Dashboard main p {
  color: var(--color-third-light);
  font-weight: 500;
  font-size: 1rem;
  margin-top: 4rem;
}

.Main-Dashboard main .location {
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-third-light);
  font-size: 1rem;
  font-weight: 600;
  margin-top: 2rem;
}
